<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="YaskawaCoEx64" Language="1033" Version="1.0.0.0" Manufacturer="Gautam" UpgradeCode="adae34cc-1817-4c0f-bc6a-66bb1ea6df4f">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="CoreUtilities" Title="Core Utilities" Level="1" Absent ="disallow">
      <ComponentRef Id="ycoe_vba_64bit_dll" />
      <ComponentRef Id="libzmq_64bit_dll" />
      <ComponentRef Id="libzmq_64bit_lib" />
      <ComponentRef Id="libzmq_32bit_release_dll" />
      <ComponentRef Id="ycoe_ppm_auto.32bit" />
      <ComponentRef Id="ycoe_ppm_debug.32bit" />
      <ComponentRef Id="ycoe_ppm_user.32bit" />
      <ComponentRef Id="ycoe_interface.32bit" />
      <ComponentRef Id="launcher_64bit_release_exe" />
      <ComponentRef Id="launcher_shortcut" />
    </Feature>
    <Feature Id="OptionalTools" Title="Optional Tools" Level="1">
      <ComponentRef Id="ycoe_csp_debug.32bit" />
      <ComponentRef Id="ycoe_csp_ramp.32bit" />
      <ComponentRef Id="ycoe_csp_sin.32bit" />
      <ComponentRef Id="ycoe_ipm_debug.32bit" />
      <ComponentRef Id="i_yaskawacoe.h" />
      <ComponentRef Id="i_ycoe_controlstatus.h" />
      <ComponentRef Id="i_ycoe_cyclicposition.h" />
      <ComponentRef Id="i_ycoe_homing.h" />
      <ComponentRef Id="i_ycoe_interpolation.h" />
      <ComponentRef Id="i_ycoe_profile_position.h" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="MyProgramDir" Name="YaskawaCoE">
          <Directory Id="MyIncludeDir" Name="include" />
        </Directory>
      </Directory>
      <Directory Id="System64Folder" />
      <Directory Id="DesktopFolder" />
    </Directory>
  </Fragment>
</Wix>
