asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
constantly==15.1.0
cryptography==2.1.4
docutils==0.14
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
kivy.deps.angle==0.1.6
kivy.deps.glew==0.1.9
kivy.deps.sdl2==0.1.17
Kivy==1.10.0
Kivy-Garden==0.1.4
pip==19.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.5.0
pypiwin32==220
pyzmq==16.0.3
requests==2.18.4
service-identity==17.0.0
setuptools==28.8.0
six==1.11.0
Twisted==17.9.0
urllib3==1.22
zope.interface==4.4.3
